<!doctype html>
<html lang="" ng-app="sampleApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Starter Kit</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Test Page</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          
          <input type="text" class="form-control" >
          <ul class="dropdown-menu" role="menu" style="display:block; min-width: 200px; left: 15px;">
            <li class="disabled"><a role="menuitem" tabindex="-1" href="#"><i>Start typing to search</i></a></li>
            <li class="disabled"><a role="menuitem" tabindex="-1" href="#"><i>No matches found</i></a></li>
            <li class="disabled"><a role="menuitem" tabindex="-1" href="#"><i>Loading...</i></a></li>
            <li class="active"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li class="dropdown-header">Project Contacts</li>
            <li class=""><a role="menuitem" tabindex="-1" href="#">ABC Construction</a></li>
            <li class="dropdown-header">All Contacts</li>
            <li class=""><a role="menuitem" tabindex="-1" href="#">Local Council</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add new</a></li>
            
          </ul>
        </div>
        <div class="col-xs-2" ng-cloak>
          <div ng-controller='TimesheetController'>
            <div ng-controller="ProjectController" ng-include src="'dropdown-template.html'" onload="onLoad()" ng-cloak>
            </div>
            <p>{{item.projectId}} {{item.project}}</p>
          </div>
        </div>
        <div class="col-xs-3">
          <div ng-controller="DropDownController" ng-cloak>
            <input type="item.text" ng-model="text" ng-focus="onFocus()" 
              ng-blur="onBlur()" ng-keydown="onKeyDown($event)"
              focus-on="newItemAdded" class="form-control" >
            <ul class="dropdown-menu" role="menu" ng-if="showList()" ng-mouseover="onHover()" ng-mouseleave="onLeave()" style="display: block; min-width: 200px; left: 15px;">
              <li ng-repeat="item in items| filter:text" ng-click="itemClicked(item.name)" ng-class="{active: item.active}">
                <a role="menuitem" tabindex="-1"  href="#">
                  {{item.name}}
                <a>
              </li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add new</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-1">
          <input type="text" value="next" class="form-control">
        </div>
        <div class="col-xs-4">
          <h4>Desired Features</h4>
          <p>
            detect focus event of the text box; pre populated lists or AJAX list support;
            grouping of results; Add item on the fly (AJAX only); angular control only;
            data-attribute confuguration; inherited? for projects/contacts for re-use;
            optional expanded view on add?;
            keyboard navigation - up down tabe enter;
            jquery version for simple selectors;
          </p>
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="dropdown-template.html">
      <input type="text" ng-model="item.text" ng-focus="onFocus()" 
        ng-blur="onBlur()" ng-keydown="onKeyDown($event)"
        focus-on="newItemAdded" class="form-control" >
      <ul class="dropdown-menu" role="menu" ng-if="showList()" ng-mouseover="onHover()" ng-mouseleave="onLeave()" style="display: block; min-width: 200px; left: 15px;">
        <li ng-repeat="item in items" ng-click="itemClicked(item.name)" ng-class="{active: item.active}">
          <a role="menuitem" tabindex="-1"  href="#">
            {{item.name}}
          <a>
        </li>
      </ul>
    </script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
